@font-face {
  font-family: "Arial-MT";
  src: url("../assets/fonts/Arial-MT.woff"); /* Путь к файлу со шрифтом */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 480px;
  min-height: 100vh;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  transition: background-image 1s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;
  padding: 20px;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  margin-bottom: 28px;
}

.track {
  width: 150px;
  height: 3px;
  background-color: #dddddd;
  margin: 20px 0;
}
/*--------------------------------*/
.volume {
  display: flex;
}
.vol {
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(100, 93, 93);
}
.volume-down,
.volume-up {
  max-width: 60px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}
.audioTime {
  width: 0;
  height: 5px;
  background-color: #a80707;
}

.play-list {
  text-align: left;
  
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: "\2713";
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900;
}

.item-active::before {
  color: #0d1eb4;
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;

  background-size: 40px 40px;
  background-image: url("../assets/svg/play.svg");
}

.pause {
  background-image: url("../assets/svg/pause.svg");
}

.play-prev {
  background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("../assets/svg/play-next.svg");
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;
  text-align: left;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {
  font-size: 20px;
  color: #fff;
  opacity: 0.6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: "Arial-MT";
  font-size: 100px;
  letter-spacing: -4px;
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
}

.greeting {
  flex: 1;
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: 0.6;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 30vh;
  min-height: 160px;
  padding: 20px;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}

@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}
/*------------------------------------------*/
.hidden {
  overflow: hidden;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background: rgba(70, 67, 67);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: scroll;
  padding: 60px 15px;
}

.modal__content {
  display: flex;

  width: 100%;
  max-width: 500px;
  box-shadow: 5px 5px;
  padding: 50px;
  background: rgb(75, 74, 72);
  border-radius: 3px;
  position: relative;
  box-shadow: 0 5px 15px rgb(226, 224, 224);
}

.modal__close-button {
  background: #ff0000;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  background: none;
  cursor: pointer;
  transition: 0.3s;
  outline: none;
}

.modal__close-button:hover {
  transition: 0.3s;
  transform: rotate(180deg);
}

.modal__title {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: hsl(207, 89%, 48%);
  margin: 0 0 15px;
  text-shadow: #cad5e2 1px 1px 0, #cad5e2 1px 1px 0, #cad5e2 2px 2px 0,
    #cad5e2 2px 2px 0, #cad5e2 3px 3px 0;
}

.modal__description {
  font-size: 1.2rem;
  color: hsla(120, 78%, 2%, 0.877);
}
.modal {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  top: -1000px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background: rgba(5, 60, 97, 0.4);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: scroll;
  padding: 60px 15px;
}

.modal_active {
  position: fixed;
  top: 0;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}
.header__button {

  margin-left: -240px;
  appearance: none;
  border: 0;

  border-radius: 5px;
  background: #cedaf1;
  color: rgb(22, 21, 21);
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
} /*тень*/
.modal_li {
  text-align: justify;
  padding: 5px;
  font: bold 1.3em Arial, sans-serif;
  color: #1d72d3;
  text-shadow: #cad5e2 1px 1px 0, #cad5e2 2px 2px 0, #cad5e2 2px 2px 0,
    #cad5e2 2px 2px 0, #cad5e2 3px 3px 0;

}
.checkbox {
  margin-left: 20px;
  text-align: justify;
}
#whatever {
  visibility: visible;
}
.weather {
  visibility: visible;
}
.date {
  visibility: visible;
}
.time {
  visibility: visible;
}

.quote_block {
  visibility: visible;
}
.greeting-container {
  visibility: visible;
}
.audio-playing {
  color: rgb(32, 19, 221);
}

/*-----------------------------------------------------*/

.track_title {
  max-width: 310px;
  margin-top: 10px;
  color: hsl(217, 80%, 45%);
  text-shadow: 2px 2px 0 rgb(233, 231, 231), -1px -1px 0 rgb(235, 232, 232),
    1px -1px 0 rgb(240, 235, 235), -1px 1px 0 rgb(238, 236, 236),
    1px 1px 0 #e6e1e1;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.track_time {
  padding: 5px;
  text-align: left;
} 
.play-list {
  text-overflow: ellipsis;
  
}

@media screen and (max-width: 1330px) {
  .play-list, .header__button {
    display: none;
  }
 
}
@media screen and (max-width: 420px) {
.weather, .name {display: none;
 }
 body {
 min-width: 340px;
  min-height: 100vh;
 }
 .greeting {
  margin-right: 100px;
 }
}